* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
body {
    padding: 0;
    margin: 0 auto;
    max-width: 992px;
    float: none !important;
}
body a:hover {
    color:#0065FC;
}
/* header section */
header {

    display: flex;
    justify-content: space-between; /* pushed logo and nav far away from each other */
    align-items: center;
}
.logo {
    height: 40px;
    margin: 25px 25px 0 25px;
}
nav ul {
    display: flex;
}
nav li {
    font-size: 14px;
    list-style-type: none;
    margin-right: 45px;
}
nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 25px;
    margin: 0;
}

/* end of header section */
/* end of header section */

/* start search-bar section */

.search {
    margin: 0px 25px 10px 25px;
}
.search h4{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}
.search p {
    font-size: 11.5px;
    padding: 0;
    margin: 0;
}
form {
    margin: 10px auto;
    display: flex;
}

form a {
    text-decoration: none;
    color: white;
}
.fa-map-marker-alt {
    font-size: 15px;
    background-color: #F2F2F2;
    /* background-color: #ececec; */
    border-radius: 10px 0 0 10px;
    padding: 12px;
    color: black;
}
input {
    border: 1px solid #F2F2F2; /* redo 11.9 */
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

::placeholder {
    color: black;
    font-size: 12px;
    font-weight: 600;
}
/* input, .button, .fa-info {
    border: 1px solid #ececec;
} comment out 11.9*/

.button {
    border: 1px solid #F2F2F2; /* redo 11.9 */
    background-color: #0065FC;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.button2 {
      display: none;
}

.button:active {
    color: #e2e2e2;
}
/* end of search-bar */
/* end of search-bar */

/* filter section starts here */
.filters {
    display: flex;
}

.filters h5 {
    padding: 6px 12px 0 0;
}
.filter-btns {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 15px 0;
}

.filter-list {
    font-size: 12px;
    font-weight: 600;
    padding-right: 10px;
    display: inline-block;
    margin: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}

.filters i { /* blue circle on icon */
    color: #0065FC;
    background-color: #deebff;
    border-radius: 50%;
    position: relative;
    left: -2px;
    top: 0px;
    padding: 12px;

}

#blue-kid {
    padding: 13.5px 15.5px 13.5px 15.5px;
    background-color: #deebff;
    position: relative;
    left: -4px;
    top: 0px;
}

.filters a {
    text-decoration: none;
    color: black;
}

.filter-list:active, .filter-list:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.10);
}
/* end of filters */
/* end of filters */

/* more than section starts here */
.more-than {
    display: flex;
    align-items: center;
}
.fa-info {
    border: 1px solid #F2F2F2; /* redo 11.9 */
    position: relative;
    bottom: 9px;
    font-size: 7px;
    color: #0065FC;
    border-radius: 100%;
    padding: 5px 7px;
    margin: 0 5px;
}
#more-than-dektop {
    font-size: 11px;
}
#more-than-mobile {
    display: none;
}
/* end of more-than section */
/* end of more-than section */

/* main-section starts here */
main {
    display: flex;
    margin: 10px auto;
    /* padding-bottom: 10px; */
}
main a, .activities a {
    text-decoration: none;
    color: black;
}

/* Left gray box starts here */
.left-gray h4 {
    font-size: 15px;
    margin: 24px 0 10px 35px;
}
.left-gray p {
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 20px 10px 20px 30px;
}

.left-gray {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    /* background-color: #ececec; */
    margin-left: 25px;
    width: 70%;
    height: auto;
    border-radius: 10px;

}

.hcards-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 10px;
    justify-content: space-evenly;
    padding: 5px;
}

.hotel-cards {
    background-color: white;
    width: 170px;
    height: 135px;
    border-radius: 10px;
    padding: 4px 0 5px 3px;
    margin-left: 5px;
    box-shadow: .5px .5px 10px .5px rgba(0,0,0,0.1);
}

.left-gray img {
    width: 169px;
    height: 74px;
    padding-right: 5px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.hotel-info {
    display: flex;
    flex-direction: column;
}
.hotel-name {
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
  }

.hotel-price {
  font-size: 10px;
  padding: 2px 0 2px 5px;
  }

.hotel-stars {
    font-size: 7.5px;
    color: #0065FC;
    padding: 2px 0 0 5px;
  }

#hotel-stars01 i:nth-child(5), #hotel-stars03 i:nth-child(5), #hotel-stars04 i:nth-child(n+4), #hotel-stars05 i:nth-child(5)  {
    color: #e2e2e2;
}

#hotel-stars02 i:nth-child(5) {
    color: #0065FC;
}

/* #hotel-stars03 i:nth-child(5) {
    color: #e2e2e2;
} */

/* #hotel-stars04 i:nth-child(n+4) {
    color: #e2e2e2;
}

#hotel-stars05 i:nth-child(5) {
    color: #e2e2e2;
} */

/* end of Left Gray box */
/* end of Left Gray box */


/* This is Aside Section (right gray starts here) */
aside {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    /* background-color: #ececec; */
    margin: 0 35px 0 25px;
    border-radius: 10px;
}

aside h4 {
    font-size: 15px;
    margin: 25px 0 5px 20px;
}

.fa-chart-line{
    float: right;
    padding-right: 25px;
}
.popular-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 10px;
}

.aside-cards {
    display: flex;
    background-color: white;
    width: 250px;
    height: 92px;
    border-radius: 10px;
    padding: 4px 0 5px 2.5px;
    margin: 10px;
    box-shadow: .5px .5px 15px .5px rgba(0,0,0,0.1);
}
aside img {
    width: 95px;
    height: 84px;
    padding-right: 5px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
/* .popcard1, .popcard2, .popcard3  {
    flex-shrink: 1;
} */
/* used id because of padding to separate the price from hotel name*/
#sun-hotel {
    padding: 8px 0 10px 5px;
}

aside .hotel-price {
    font-size: 10px;
    padding: 5px 0 15px 5px;
}
.hotel-aprice {
    font-size: 10px;
    margin-top: 0;
    padding: 5px 0 10px 5px;
}

aside .hotel-stars {
    padding: 5px 0 0 5px;
}

#hotel-astars01 i:nth-child(5){
    color: #e2e2e2;
    margin-top: 5px;
}
#hotel-astars02 i:nth-child(5) {
    color: #e2e2e2;
    margin-top: 20px;
}
/* end of Aside */
/* end of Aside */


/* activities starts here - in flex */
.activities {
    width: 100%;
}
.activities h4 {
    font-size: 15px;
    margin-left: 35px;
}
.activities p {
    font-size: 10.5px;
    font-weight: 700;
    margin: 10px 0 0 15px; ;
}
.activities a {
    text-decoration: none;
    color: black;
}

.act-card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
    margin: 15px 0 40px 0;

}
.act-lchild, .act-rchild {
    display: flex;
    justify-content: space-around;
    /* flex: 1 1; */
    gap: 20px;
    padding: 0 20px;

}
.block-1 {
    background-color: white;
    width: 210px;
    height: 310px;
    border-radius: 10px;
    box-shadow: .5px .5px 15px .5px rgba(0,0,0,0.1);
}
.act-card1 img {
    width: 210px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.block-2 {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.act-card {
    width: 210px;
    background-color: white;
    border-radius: 10px;
    box-shadow: .5px .5px 15px .5px rgba(0,0,0,0.1);
}
.act-card img {
    width: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card2 {
    height: 160px;
}
.card2 img {
    height: 120px;
}

.card3 {
    height: 115px;
}
.card3 img {
    height: 70px;
}


.block-3 {
    background-color: white;
    width: 210px;
    height: 310px;
    border-radius: 10px;
    box-shadow: .5px .5px 15px .5px rgba(0,0,0,0.1);
}
.block-3 img {
    width: 210px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.act-rchild .act-card {
    width: 210px;
    background-color: white;
    border-radius: 10px;
    box-shadow: .5px .5px 15px .5px rgba(0,0,0,0.1);
}
.block-4 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.block-4 img {
    width: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card5 {
    height: 130px;
}
.card5 img {
    height: 95px;
}
.card6 {
    height: 140px;
}
.card6 img {
    height: 100px;
}

/* activities end */
/* activities end */

/* footer section starts here */
/* footer section starts here */
/* footer section starts here */
/* footer section starts here */
.ft-container {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0 85px 30px;
    gap: 120px;
    /* background-color: #E2E2E2; */
    background-color: #F2F2F2;
}
.ft-container p {
    font-size: 11px;
    margin: 0;
    padding: 5px 50px 5px 0;

}
.ft-container a{
    text-decoration: none;
    color: black;
}

.ft-container a:hover {
    color: #0065FC;
}

.ft-container h5 {
    margin: 15px 0 10px 0;
}

/* end of footer */



/* Media Query
MQ reference:
beyond desktop max-width: 1200px
Desktop max-width: 992px
Tablet max-width: 768px
iPhone max-width: 485px
*/

            /* tablet 768px*/

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
        padding: 0;
        margin: 0 auto;
        float: none !important;
    }
    header, main {
        width: 100%;
    }
    main {
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .hcards-container {
        justify-content: center;
        padding: 25px;
    }
    .hotel-cards {
        height: 135px;
    }
    aside, .left-gray {
        height: auto;
        width: 100%;
        margin: 10px auto;
    }
    .popular-container {
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;
    }
 
    .aside-cards {
        margin: 18px auto;
        flex-direction: column;
        width: 170px;
        height: 140px;
    }
    aside img {
        width: 168px;
        height: 65px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    #sun-hotel {
        padding: 1px 0 1px 5px;
    }
    aside .hotel-stars {
        padding: 1px 0 0 5px;
    }
    
    aside .hotel-price {
        padding: 1px 0 3px 5px;
    }

    .hotel-aprice {
        padding:1px 0 1px 5px;
        margin: 0;
    }

    #hotel-astars02 i:nth-child(5) {
        color: #e2e2e2;
        margin-top: 0;
    } 
    .activities {
        width: 100%;

    }
    .act-card-container {
        flex-direction: column;
        gap: 20px;
    }
    .act-lchild, .act-rchild {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    footer {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
    .ft-container {
        padding: 25px;
        gap: 65px;
        flex-wrap: wrap;
    }
}
/* end of TABLET */
/* end of TABLET */

            /* phone*/
  @media screen and (min-width: 100px) and (max-width:450px) {

    /* body {
        max-width: 375px;
        padding: 0;
        margin: 0 auto;
        float: none !important;
        min-width: 100px;
    } */
    header {
        flex-direction: column;
        margin: auto 10px;
    }
    .logo {
        height: 46px;
        margin: 20px 0 10px 0;
    }

    nav li {
        font-size: 16px;
    }

    nav li:hover {
        border-bottom: 3px solid #0065FC;
        padding-bottom: 12px;
    }

    #nav1 {
        margin: 0 70px 0 10px;
    }
    #nav2 {
        margin-right: 100px;

    }
    nav li a:hover {
        border-top: 0;
        padding-bottom: 15px;
    }

/* Search and Filter  Section */
    .search h4 {
        font-size: 20px;
        font-weight: 700;
    }
    .search p {
        padding-top: 10px;
        font-size: 15px;
    }
    form {
        justify-content: center;
        padding-top: 25px
    }
    input {
        font-size: 25px;
        border-left: 0;
        border-right: 0;
        width: 225px;
    }
    .fa-map-marker-alt {
        font-size: 18px;
        padding: 17px;
    }
    ::placeholder {
        font-size: 18px;
        padding-left: 10px;
    }

    .button2 {
        font-size: 18px;
        display:inline-block;
        width: 50px;
        padding-left: 0;
        border-radius: 15px;
        cursor: pointer;
    }
    .button2:active {
        color: #0065FC;
    }
    .button1 {
        display: none;
    }

/* ----------- filter buttons -------- */
    .filters h5 {
        font-size: 18px;
        padding-top: 10px;
        margin: 10px;
    }
    .filters {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .filter-list {
        font-size: 16px;
    }
/* ------icon and more than 500--------- */
    .fa-info {
        font-size: 11px;
        padding: 7px 11px;
        margin: 0 7px;
    }

    #more-than-mobile {
        font-size: 16px;
        display: block;
        margin: 25px auto;
    }
    #more-than-desktop {
        display: none;
    }

/* main section */
    main {
        flex-direction: column-reverse;
    }
    .hotel-price {
        font-weight: bold;
    }
/* Most Popular - left gray section */
    aside {
        width: 100%;
        margin: 0;
        border-radius: 0%;
        height: auto;
    }
    aside h4, #aim, #aim2 {
        font-size: 22px;
    }
    aside h4 {
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .fa-chart-line {
        padding-right: 20px;
    }
    .popular-container {
        margin: 20px auto;
    }
    .aside-cards {
        padding: 0;
        width: 340px;
        height: 150px;
        margin: 2px auto;
        border-radius: 20px;
    }
    aside img {
        width: 135px;
        height: 140px;
        margin: 5px 0 0 5px;
        border-radius: 20px 0 0 20px;
    }
    aside .hotel-info {
        gap: 3px;
        margin: 5px 0 0 8px;
    }
    .hotel-name {
        font-size: 16px;
    }
    .hotel-cards {
        width: 340px;
        height: 190px;
        border-radius: 20px;
    }
    
    .left-gray {
        flex-direction: column;
        background-color: white;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
        margin: 0;
    }
    .left-gray h4 {
        margin: 25px auto;
    }
    .left-gray p {
        font-size: 18px;
    }
    
    
    
    .popular-container{
        gap: 10px;
    }
    .hcards-container {
        gap: 15px;
    }
    .left-gray img {
        width: 340px;
        height: 105px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

/* Activities in Marseille section */
    .activities p {
        font-size: 16px;
    }
    .act-card-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .act-lchild, .act-rchild {
        flex-direction: column;
        gap: 35px;
    }
   
    /* activities cards - white background */
    .block-1, .act-card, .block-3, .act-rchild .act-card {
        width: 340px;
        height: 185px;
        border-radius: 20px;
    }
    .act-card1 img, .act-card img, .act-card4 img {
        width: 340px;
        height: 130px;
        border-radius: 20px 20px 0 0;
    }
/* footer section */
   .ft-container {
       flex-wrap: wrap;
       width: 100%;
       gap: 20px;
   }
   .ft-container h5 {
       font-size: 18px;
   }
   .ft-container p {
       font-size: 15px;
       margin-top: 10px;
       padding: 3px;
   }
}